@page
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee By</h1>
<form method="post">
    <div class="form-group">
        <label>FirstName</label>
        <input class="form-control" asp-for="Customer.FirstName" />
    </div>
    <div class="form-group">
        <label>LastName</label>
        <input class="form-control" asp-for="Customer.LastName" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" asp-for="Customer.Email" />
    </div>
    <div class="form-group">
        <label>Address</label>
        <input class="form-control" asp-for="Customer.Address" />
    </div>
    <div class="form-group">
        <label>Phone</label>
        <input class="form-control" asp-for="Customer.PhoneNumber" />
    </div>
    <div class="form-group">
        <label>Profile</label>
        <input class="form-control" asp-for="Customer.Profile" />
    </div>
    <div class="form-group">
        <label>Birthday</label>
        <input class="form-control" asp-for="Customer.Birdthday" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>